<marquee alternate="behaviour">
    <h1 color="red">Eu sou  fera!!!!</h1>
</marquee>
<hr />
<form>
    Nome: <input type="text" placeholder="Digite seu nome aqui" />
    <br />
    Telefone: <input type="text" placeholder="Digite seu telefone aqui" />
    <br />
    <input type="submit" value="Enviar" />
</form>
